.dombosco-brand {
    width: 100%;
}

#ficha-header {
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.ficha-informacao a {
    text-decoration: none;
    color: white;
    font-size: 10pt;
    font-weight: bold;
}

aside {
    width: 300px;
    float: left;
    position: relative;
    margin: 20px;
}

aside select {
    width: 290px;
    padding: 5px;
    border: none;
    margin: 5px 0;
}

form {
    float: left;
    height: 80%;
    overflow-y: scroll;
    margin: 15px 0;
    max-width: 900px;
}

.it-perg-res {
    text-align: center;
    background: #f1d8a8;
    border-radius: 5px;
    padding: 5px;
}

.it-perg-res label {
    margin: 0 15px;
}

.it-perg-res textarea {
    width: 100%;
}
footer {
    clear: both;
}

.it-pergunta {
    border-radius: 5px;
    margin: 10px auto;
    background: #bd9e6f;
}

.it-pergunta .it-desc {
    margin: 0 20px;
    color: white;
    font-weight: bold;
    padding-top: 3px;
}

.it-pergunta .it-modl {
    background: #f1d8a8;
    padding: 10px 0;
    align-items: center;
    display: flex;
}

.it-pergunta .it-modl div {
    /*display: inline-block;*/
    margin: 0 20px;

}

.it-pergunta .it-modl .it-perg-mod {
    width: 200px;
}

.it-pergunta .it-modl .it-perg-res {

}

.it-pergunta .it-modl .it-perg-res input {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.it-pergunta .it-modl .it-perg-mod p {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    font-size: 10pt;
}

.it-sb {
    text-align: left;
}

.it-sb input[type="submit"] {
    border: none;
    font-size: 13pt;
    padding: 5px 25px;
    border-radius: 5px;
    background: lightgreen;
    color: black;
}

.it-sb input[type="submit"]:hover {
    background: #6eba6e;
}

.ficha-informacao {
    display: block;
}

.f-btn-navbar, #f-nav-ficha {
    display: none;
}

.it-perg-res-mob {
    display: none;
}